.nav {
  background-color: white;

  align-items: flex-end;
  display: flex;

  position: sticky;
  top: 0;
  z-index: 9999;

  height: 28vw;
  margin-bottom: 8vw;
  padding-bottom: 6vw;

  @include for-mobile-up {
      height: 14.5vw;
      margin-bottom: 5vw;
      padding-bottom: 3.5vw;
  }
  @include for-tablet-up {
      height: 6.5vw;
      margin-bottom: 4.5vw;
      padding-bottom: 2vw;
  }
}

.nav__bar {
  align-items: center;
  display: block;
  justify-content: space-between;
  width: 100%;

  @include for-mobile-up {
    display: flex;
  }

  .icon {
    color: $main-blue;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;

    display: flex;

    @include for-mobile-up {
      display: block;
    }
    @include for-tablet-up {
      display: flex;
    }
  }

  .tabs {
    color: $dark-grey;

    display: flex;
    margin-top: 1.4rem;

    @include for-mobile-up {
      margin-top: 0;
    }

    .elements {
      display: flex;

      a,
      span {
        @media (hover: hover) {
          &:hover {
            cursor: pointer;
            opacity: 0.4;
          }
        }

        &.active {
          opacity: 0.4;
        }
      }

      .divider {
        text-align: center;

        width: 20px;
      }
    }
  }
}
