.navbar {
  background-color: white;

  align-items: flex-end;
  display: flex;

  position: sticky;
  top: 0;
  z-index: 9999;

  height: 28vw;
  margin-bottom: 8vw;
  padding-bottom: 6vw;

  @include for-mobile-up {
    height: 14.5vw;
    margin-bottom: 5vw;
    padding-bottom: 3.5vw;
  }

  @include for-tablet-up {
    height: 6.5vw;
    margin-bottom: 4.5vw;
    padding-bottom: 2vw;
  }

  &__container {
    align-items: center;
    display: block;
    justify-content: space-between;
    width: 100%;

    @include for-mobile-up {
      display: flex;
    }
  }

  &__name {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__full-name {
    color: $main-blue;
    font-weight: bold;
    text-decoration: underline;

    display: flex;

    @include for-mobile-up {
      display: block;
    }
    @include for-tablet-up {
      display: flex;
    }
  }

  &__first-name {
    span {
      display: none;

      @include for-tablet-up {
        display: block;
      }
    }
  }

  &__first-name::after {
    content: 'Isaac\00a0';

    @include for-tablet-up {
      content: unset;
    }
  }

  &__icon-buttons {
    display: block;
    white-space: nowrap;

    @include for-mobile-up {
      display: none;
    }
  }

  &__tabs {
    color: $dark-grey;

    display: flex;
    margin-top: 1.4rem;

    @include for-mobile-up {
      margin-top: 0;
    }
  }

  &__tab-list {
    display: flex;

    a {
      &:hover {
        cursor: pointer;
        opacity: 0.4;
      }

      &.active {
        opacity: 0.4;
      }
    }
  }

  &__tab-divider {
    text-align: center;

    width: 20px;

    &--responsive {
      display: none;

      @include for-mobile-up {
        display: block;
      }
    }
  }

  &__tab-link {
    display: none;

    @include for-mobile-up {
      display: block;
    }
  }
}
