.about {
    color: $dark-grey;
    .description {
        line-height: 1.6;
        text-align: left;

        white-space: pre-line;

        @include for-mobileOld-up {
            margin-top: .4rem;
        }
    
        @include for-mobile-up {
            margin-top: .8rem;
        }
    
        @include for-laptop-up {
            margin-top: 1.2rem;
        }
    }

    .title {
        font-weight: bolder;
        line-height: 1.6;
        text-align: left;

        margin-top: 1.2rem;
        margin-bottom: 0.1rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include for-mobileOld-up {
            margin-top: .4rem;
        }
    
        @include for-mobile-up {
            margin-top: .8rem;
        }
    
        @include for-laptop-up {
            margin-top: 1.2rem;
        }
    }

    .subtitle {
        line-height: 1.2;
        text-align: left;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .caption {
        color: $light-grey;
        line-height: 1.2;
        text-align: left;

        margin-top: 0.6rem;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
