.detail-block {
  margin-bottom: 2vw;
}

.detail-block__quote {
  color: $dark-grey;
  font-weight: bolder;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;
}

.detail-block__link-quote {
  color: $dark-grey;
  // font-weight: bolder;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;

  &--link {
    color: $main-blue;
  }
}

.detail-block__img {
  width: 100%;
  height: auto;
}

.detail-block__vimeo {
  padding: 56.25% 0 0 0;
  position: relative;

  &--iframe {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}
