.info-page__cover {
  position: sticky;
  // top = height + margin-bottom + padding-bottom of the nav
  top: 42vw;

  @media only screen and (min-width: $screen-mobile) {
      top: 23vw;
  }
  @media only screen and (min-width: $screen-tablet) {
      top: 13vw;
  }
}

.info-page__content {
  background-color: white;
  padding-top: 2vw;
  padding-bottom: 5vw;
  position: sticky;
}

.info-page__year-duration {
  color: $dark-grey;
  text-align: right;
  text-transform: capitalize;
  padding: 1rem;
}
