.info-page__cover {
  position: sticky;
  // TODO: Change top to 0 only when the window in specific width and height
  // top = height + margin-bottom + padding-bottom of the nav
  // top: 42vw;
  top: 0;

  @media only screen and (min-width: $screen-mobile) {
      // top: 23vw;
      top: 0;
  }
  @media only screen and (min-width: $screen-tablet) {
      // top: 13vw;
      top: 0;
  }
}

.info-page__content {
  background-color: white;
  padding-top: 2vw;
  padding-bottom: 5vw;
  position: sticky;
}

.info-page__year-duration-note {
  color: $dark-grey;
  text-align: right;
  text-transform: capitalize;
  padding: 1rem;

  &--note {
    margin-top: 1.5vw;
  }
}
