.project-card__image-section {
    cursor: pointer;
    position: relative;
}

.project-card__title {
    color: $dark-grey;
    line-height: 1.6;
    text-align: left;

    margin-top: 1.2rem;
    margin-bottom: 0.1rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include for-mobileOld-up {
        margin-top: .4rem;
    }

    @include for-mobile-up {
        margin-top: .8rem;
    }

    @include for-laptop-up {
        margin-top: 1.2rem;
    }
}

.project-card__subtitle {
    color: $light-grey;
    line-height: 1.2;
    text-align: left;

    margin-top: 0.3rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}