.under-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.under-construction__content {
    display: flex;
}

.under-construction__message {
    color: $dark-grey;
    font-size: 2.5rem;
    font-weight: lighter;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include for-mobile-up {
        font-size: 3.5rem;
    }
    @include for-tablet-up {
        font-size: 5rem;
    }
}

.under-construction__word {
    &--subject {
        font-weight: lighter;
    }
    &--under-construction {
        font-size: 2rem;
        font-weight: 500;

        @include for-mobile-up {
            font-size: 3rem;
        }

        @include for-tablet-up {
            font-size: 4.5rem;
        }
    }
}

.under-construction__img {
    width: 90px;
    height: 90px;
    margin-left: 5px;

    @include for-mobile-up {
        width: 140px;
        height: 140px;
        margin-left: 15px;
    }
    @include for-tablet-up {
        width: 200px;
        height: 200px;
        margin-left: 20px;
    }
}

.under-construction__inquiries {
    margin-top: 3vw;
    color: $dark-grey;
    font-size: 1.2rem;
    text-align: center;

    >a {
        color: $main-blue;
    }

    @include for-mobile-up {
        margin-top: 4vw;
        font-size: 1.5rem;
    }
    @include for-tablet-up {
        margin-top: 5vw;
        font-size: 1.8rem;
    }
}
