@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@media only screen and (min-width: $screen-mobileOld) {
    .rfs-main {
        font-size: 1.9rem;
    }
    .rfs-sub {
        font-size: 1.8rem;
    }
    .rfs-cap {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: $screen-mobile) {
    .rfs-main {
        font-size: 1.5rem;
    }
    .rfs-sub {
        font-size: 1.4rem;
    }
    .rfs-cap {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: $screen-tablet) {
    .rfs-main {
        font-size: 1.8rem;
    }
    .rfs-sub {
        font-size: 1.7rem;
    }
    .rfs-cap {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: $screen-laptop) {
    .rfs-main {
        font-size: 2.1rem;
    }
    .rfs-sub {
        font-size: 2rem;
    }
    .rfs-cap {
        font-size: 1.8rem;
    }
}
